# .gitignore

# intermediate files
*.py[cod]
*.so
*.swp

# private files not under git control
_notes.md

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# ignore build/output directory
dist/

# directories
.cache
scr/
tmp/
venv/
node_modules/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
__pycache__

